In [1]:
import numpy as np
import pandas as pd

In [2]:
# we are using regression here, Regression is different from classification
# In classification we have to seperate the data into different categories 
# while in regression we have to use the input data to make prediction for future data
# like predicting the price of stock

In [3]:
# let us get the dataset 

# about the dataset:
# NASA data set, obtained from a series of aerodynamic and acoustic tests of two and three-dimensional airfoil blade sections conducted in an anechoic wind tunnel.
df = pd.read_csv('airfoil_self_noise.dat')

In [4]:
df.head()

    800\t0\t0.3048\t71.3\t0.00266337\t126.201
0  1000\t0\t0.3048\t71.3\t0.00266337\t125.201
1  1250\t0\t0.3048\t71.3\t0.00266337\t125.951
2  1600\t0\t0.3048\t71.3\t0.00266337\t127.591
3  2000\t0\t0.3048\t71.3\t0.00266337\t127.461
4  2500\t0\t0.3048\t71.3\t0.00266337\t125.571